<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header></header>
    <main>
        <header id="header">
            <h1>첫번째 글</h1>
        </header>
        <aside>
            <p>aimmvp </p>
            <p><a rel="me" href="mailto:aimmvp@gmail.com">aimmvp@gmail.com</a> </p>
            <p><time datetim="2024-01-12T00:00:00">2024-01-12</time></p>
            <p>#java</p>
        </aside>
        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                    <button type="submit">쓰기</button>
                </form>
                <ul>
                    <li>
                        <div>
                            <time><small>2024-01-01</small></time>
                            <strong>aimmvp</strong>
                            <p>
                                Text1
                                Text1
                                Text1
                                Text1
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2024-01-02</small></time>
                            <strong>aimmvp2</strong>
                            <p>
                                Text2
                                Text2
                                Text2
                                Text2
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2024-01-03</small></time>
                            <strong>aimmvp3</strong>
                            <p>
                                Text3
                                Text3
                                Text3
                                Text3
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <nav>
                <a href="#"> 이전 글</a>
                <a href="#"> 다음 글</a>
            </nav>
        </section>
    </main>
    <footer id="footer"> </footer>
</body>
</html>